/* In the External CSS, Using Selector/Pointer(h2) which were declaring the decoration.. */
h2 {
    color: blue;
    font-size: 120px;
    text-decoration: underline;
}

body {
    /* background-color: black; */  /*    hexa_value  #fff */
    /* background-color:rgb(208, 23, 23); */

    /* background-image: url("images/image2.gif"); */
    /* background-repeat: no-repeat; */
    /* background-position:20px; */
    /* background-size: cover; */

    background: black url("images/image2.gif")  no-repeat ;  /* Short hand */
}


div {
    background-color: whitesmoke;
    color: red;
}

#CSSdiv {
    background-color: peru;
    color: white;
}

.CSSclass {
    background-color: white;
    color: violet;
}

h3.CSSclass {
    background-color: blueviolet;
    color: white;
}

p, h2 {
    background-color: chartreuse;
    color: black;
}
