#Div-One {
    background-color: blue;
    /* height: 100px; */
    color: #ffffff;
    padding: 100px 100px 100px 0px;
    border-style: solid;
    border-width: 50px;
    border-color: black;
    margin: 150px 150px 150px 150px;
}

/*

#Div-Two {
    background-color: black;
    height:50px;

}

#Div-Three {
    background-color: red;
    height:100px;

}

*/
