html {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    background-color: black;
    margin: 0;
}

header {
    background-color: #ffffff;
    height: 80px;
}

#head-container {
    width: 75%;
    margin: auto;
}

.col-3 {
    /* background-color: red; */
    width: 33%;
    float: left;
}

.col-3 #col-3-img {
    padding: 20px 40px;
    margin-left: 50px;
}

.menu li {
    list-style-type: none;
    display: inline;
    font-size: .85em;
    color: #8e8e8e;
    padding-left: 30px;
}

.menu {
    margin-top: 32px;
}

.get-startedBTN {
    
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;

    background-color: #6dc77a;    
    text-decoration: none;
    color: #ffffff;
    padding: 10px 26px;
    margin-top: 20px;
    display:inline-block;
    font-size: 17px;
    margin-left: 90px;
}


#top-section-main {
    background-image: url("../images/amazon2.png");
    height: 740px;
    border:none;
}

#top-section-content {
    width: 60%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    
}

#top-section-content h1 {
    font-size: 3em;
    font-weight: 300;
    color: white;
    text-align: left;
    margin-top: 0;
}

#top-section-content p {
    font-size: 1.3em;
    font-weight: 450;
    color: white;
    text-align: center;
    
}